[2016-02-16 20:39] KaneCohen opened #1 "Add GIF demo"
![tokenfield-demo](https://cloud.githubusercontent.com/assets/578455/13090371/72c292d4-d506-11e5-914e-06fd19b21f11.gif)

[2016-02-16 20:39] #1 closed

[2016-06-28 10:45] simsim0709 opened #2 "Sanitizing input value before adding token"
Hello,

Thank you for your great plugin. I am very satisfied with yours.

I have one question regarding sanitizing input value. Is there any way to sanitize value?

I want to remove all of special characters and html tag before adding token, but I don't see any API.

Any suggestion?

Thank you very much

[2016-06-28 10:50] KaneCohen commented on #2
Just to make sure - are you talking about sanitizing value of each before rendering it?

Some simple example or better description might help to explain what you want specifically.

[2016-06-28 11:07] simsim0709 commented on #2
Yes. I am talking about sanitizing value of each before rendering it.

For example, when a user type "#!$^(show me the money#$%^$" and press enter, I want it to be "show-me-the-money" something like this.

And one more thing actually.. I actually set option itemValue as '_id' not 'id', but it seems like not working properly.

It seems like Tokenfield always need 'id' property to work properly. If

[2016-06-28 11:26] KaneCohen commented on #2
OK, I got what you meant about sanitizing. I'll add a way to sanitize data.

Regarding `itemValue` property. This is a property which is taken from individual token object and which is assigned to the hidden `<input>` value. For example consider following small data sample:

[code]

Each object in an array represents each token available to tokenfield. When you set `itemValue` to `id` it will use

[2016-06-28 11:52] KaneCohen commented on #2
@simsim0709
I've updated library to version 0.3.0 with couple of extra methods you can work with.

In order to sanitize data you can override a helper method `rederSetItemLabel` where you can do whatever you want with a given item, including sanitizing output.

Here's a small example:

[code]

[2016-06-28 11:58] simsim0709 commented on #2
Thank you for your help.

`
const tf = new Tokenfield({
      el: tagInputRef,
      items: [
        {
            "_id" : "E27SsP7gACKNsDJWs",
            "name" : "tag",
            "createdAt" : ISODate("2016-06-28T10:47:52.795Z"),
            "count" : 8,
            "updatedAt" : ISODate("2016-06-28T10:47:52.796Z")
        },
        {
            "_id" : "a86d6QBANJGPhzaZw",
            "na

[2016-06-28 12:03] KaneCohen commented on #2
OK, I managed to reproduce the issue with given data. Looking into the root of the issue.

[2016-06-28 13:06] KaneCohen commented on #2
@simsim0709 updated to version 0.3.2. Should cover your issue.

[2016-06-28 14:41] #2 closed

[2016-06-29 01:17] simsim0709 commented on #2
That's great. I just updated to version 0.3.2, and it works very well.

Thank you.

[2016-07-08 07:55] simsim0709 opened #4 "Is there a way to cancel selected suggestion?"
Hello,

I was wondering if I can cancel selected suggestion?

For example, if I have follow settings.

[code]
And, I want to add new token "sample", but I can't really do that. "sampletag" is always added when I press enter or tab key.

Is there any way I can do it?

[2016-07-08 08:03] KaneCohen commented on #4
OK, I see the problem. Happens when you want to create new tag with some input which has a match in suggester. I'll need to add small patch which would allow user to unselect suggested items by hitting "UP" or "DOWN" arrow key. DO you think that would be sufficient?

Or maybe you have an idea as to how it should behave?

[2016-07-08 08:56] KaneCohen commented on #4
Pushed updated version `v0.3.5` where if you have `newItems` set to `true` (default is `true`) then it would allow to deselect items in suggestions by using up/down arrows on the keyboard. Plus, first item is not selected by default.

[2016-07-08 09:00] #4 closed

[2016-07-12 16:10] PierreChls opened #5 "Potential improvement and a question about trigger input field"
To begin, congralutations for your work, your lib is very cool and very easy to use. 👍🏻

### Potential improvements

It would be great to add keys options on your Tokenfield init. It would allow to customise our key event and token delimiter. We could delimite token with space, slash... and not only the enter key.

### Trigger input field

I use a virtual keyboard for my app and I would trigger an

[2016-07-12 16:12] PierreChls opened #6 "Potential improvements and trigger input field"
To begin, congralutations for your work, your lib is very cool and very easy to use. 👍🏻

### Potential improvements

It would be great to add keys options on your Tokenfield init. It would allow to customise our key event and token delimiter. We could delimite token with space, slash... and not only the enter key.

### Trigger input field

I use a virtual keyboard for my app and I would trigger an

[2016-07-12 16:21] KaneCohen commented on #5
Huh, GitHub finally decided to show issue instead of 404 page.

Thanks for filing the issue. I'll address matter of custom separators and event not propagating.

[2016-07-12 16:33] KaneCohen commented on #6
Closed as duplicate.

[2016-07-12 16:33] #6 closed

[2016-07-12 17:46] KaneCohen commented on #5
#### Regarding missing events

You don't see any events because we that element which you attached tokenfield to `#e-mail-input` is not being used within the tokenfield. Tokenfield has its own internal `.tokenfield-input` typehead which is what accepts all the input events. If you want to catch input events you'll need to open your dev tools and find out what's the correct selector for input you'r

[2016-07-12 17:46] #5 closed

[2016-07-13 17:13] dmmulroy opened #7 "Binding to dom el without constructor."
I'm trying to wrap this in a React component and would find a lot of use in being able to bind the functionality of the TokenField to an input element without having to call the constructor (i.e. being able to call a function instead of constructor).  As it is now, my component is rendering `<input ref="tokenfield" className="tokenfield-input" type="text" />`.  In `componentDidMount` i'm applying

[2016-07-13 17:30] dmmulroy commented on #7
Realized that I needed a reference to the object anyways to handle adding and removing tokens so this is really a non-issue.

[2016-07-13 17:30] #7 closed

[2016-07-13 17:37] KaneCohen commented on #7
Hey, thanks for the issue anyway. Made me think about what you want and in general possibility of integrating Tokenfield as a React Component.

Unfortunately there's no way for such library with such functionality to exist without some kind of instantiation. Tokenfield has to store internal state for various things (items, suggestions, cache) which means that this state has to be set up somewhere

[2016-08-29 12:19] popod opened #8 "Delete key not work with option "minChars: 0""
When "minChars" option is set to "0", we can not delete tokens in input field with the delete key..

[2016-08-29 12:21] KaneCohen commented on #8
Thanks, I'll look into it.

[2016-08-29 12:29] KaneCohen commented on #8
Fixed in version `0.3.8`.

[2016-08-29 12:29] #8 closed

[2016-08-29 12:31] popod commented on #8
Great, thanks !

[2016-09-21 21:03] bensherlock opened #10 "Array passed to setItems doesn't produce generated keys so x-delete can't find them."
Hi,

Thanks for all your hard work on this library.

I am using version: 0.3.9 via npm install.

I have found that the array passed via "setItems" in the constructor correctly renders the tokens. But on clicking delete (the x) it removes them in order of the array rather than the specific item clicked. Any new items added via user input here are deleted correctly. On exploring the JSON output in "

[2016-09-21 21:05] KaneCohen commented on #10
Thanks for the report. Will see what's up. Most likely on init input array is not updated with unique keys identifying each item.

[2016-09-21 21:50] KaneCohen commented on #10
Pushed 0.3.11. Should fix this issue.

[2016-09-21 21:50] #10 closed

[2016-09-22 10:41] bensherlock opened #11 "Type error from chaining this._keyInput(e).focus()"
Thanks for such a speedy update!

Unfortunately, the change between 0.3.10 and 0.3.11 introduces some Type exceptions on:
line 721: this._removeItem(target.key)._renderItems()._keyInput(e).focus();

And when just clicking in the input box:
line 728: this._keyInput(e).focus();

Looking at the diff, for v0.3.10 it was:
this.focus();
this._keyInput(e);

Looking at the function for _keyInput(e) it gen

[2016-09-22 10:43] bensherlock commented on #10
Hi, Thanks for this. 0.3.10 fixes this perfectly.

Unfortunately, the change between 0.3.10 and 0.3.11 introduces some Type exceptions as detailed in new issue #11 .

Thanks again.
Ben

[2016-09-22 10:49] KaneCohen commented on #11
Pushed 0.3.12. Reverted changes in the chained functions order.

[2016-09-22 10:49] #11 closed

[2016-12-13 01:04] activestylus opened #13 "Nested parameters"
So there's `itemName` and `newItemName`, but apparently they both have limits.

For example, when you submit a form with `<input name="email[subject]">` the data is interpreted by the server as an object like so:

`{"email" : { "subject" : "Hello there } }`

The trouble is, when I set `itemName: "email[subject]"` I don't receive any data on the server. I believe this may be due to the fact that th

[2016-12-13 01:08] activestylus opened #14 "Resetting a form"
When I run `document.getElementById("myForm").reset()` it clears all the fields, except for the tokeninput. There should definitely be some sort of callback function which clears the field when this event is triggered.

[2016-12-13 07:57] KaneCohen commented on #14
Thanks, I'll see what would be the best way to implement it since tokenfield can't listen to the "reset" event on the input field itself (fields don't receive any events on reset of the form).

[2016-12-13 08:08] KaneCohen commented on #13
Thanks for the report.

First about submitting values to the same field. It is doable - you just need to set `itemName` and `newItemName` config options to the same value. It might look like this:
[code]
For my uses I require distinct naming for the submitted values in order to process them correctly so I went with separate submittable names.

As for the issue with the lack of data. That happens d

[2016-12-13 09:09] KaneCohen commented on #14
Added new option "form" to the configs. By default tokenfield will listen to immediate parent form `reset` event which would trigger internal reset to initial list of items.

If set to falsy it wouldn't listen to the reset.

[2016-12-13 09:09] #14 closed

[2016-12-13 09:12] KaneCohen commented on #13
Issue with empty data has been fixed in latest version (0.4.0). Input field will be prepended to the tokenfield container, so it shouldn't override tokenfield-set data.

[2016-12-13 09:12] #13 closed

[2016-12-13 11:22] activestylus commented on #14
Awesome! Thanks for rolling this out so quick

[2016-12-13 11:25] activestylus opened #15 "onBlur Callback"
When you blur an input (via mouse instead of tab key) the token is not instantiated, and the input reads as blank. There should be a way to hook into the blur event so that the input retains its value.

[2016-12-13 11:29] KaneCohen commented on #15
You mean - add new item with current value on blur event?

[2016-12-13 12:25] activestylus commented on #15
It could be a new item or an existing one, onBlur should behave as your delimiter for both cases

[2016-12-13 12:57] activestylus opened #16 "Uncaught ReferenceError: module is not defined"
From the latest build, this is what happens when I update my tokeninput.js from your dit folder

[2016-12-13 13:04] KaneCohen commented on #16
How do you load the library? Could you give a code example?

I don't know what `tokeninput.js` is in relation to tokenfield.

[2016-12-13 13:16] KaneCohen commented on #16
Just tested it on 2 separate projects - one with babel, one with raw node. Module loads. Please provide more details.

[2016-12-13 13:21] KaneCohen commented on #16
I've updated Babel library which compiles library slightly differently than before. That might be the reason.

[2016-12-13 18:50] #16 closed

[2017-01-16 09:57] codeKonami opened #17 "Add option to trigger tokenisation on space key or comma key"
Hi,

First of all, thanks for this brilliant lib.

I was wondering, would it be possible to add options to choose if we want to trigger the tokenisation on the space key or comma key ?

Thanks

[2017-01-16 10:04] KaneCohen commented on #17
@codeKonami it is technically possible using current options, however it would probably be a good idea to add input-based tokenization.

Right now you can use following config which would add token if you hit spacebar or coma (it relies on standard keyboard layout, though):

[code]
With these options tokenfield would consider keys with keycode 32 and 188 to be delimieter-keys which initiate tokeni

[2017-01-16 11:27] KaneCohen commented on #17
Update library version to `0.5.0`.

Now it has options `delimiters` which accepts array where you can add strings which would behave as delimiters during tokenization. Example:

[code]

Example above covers two events: user typing `,` or hitting enter, however you could also write it like so with a space as a delimiter:

[code]

[2017-01-16 11:27] #17 closed

[2017-01-16 13:45] codeKonami commented on #17
Great! Thanks a lot for this quick upgrade!!

[2017-01-18 07:48] codeKonami opened #18 "Multiple selection of tokens for deletion"
Would you consider adding the possibility to select multiple tokens?

![token](https://cloud.githubusercontent.com/assets/1849998/22055297/cdbe2380-dd5a-11e6-9f19-6314b9e7c233.gif)

[2017-01-18 07:50] KaneCohen commented on #18
@codeKonami I'll consider it.

[2017-01-18 16:58] KaneCohen commented on #18
@codeKonami feature is available in latest version `0.6.1`.

[2017-01-19 17:32] codeKonami commented on #18
Works really great, thank you for that. Just few things that are missing.

- Select All doesn't work (Ctrl+A or CMD+A)
- If you'd like to select a range of tokens and delete them, I need to keep the "Option" (Alt on Windows) button pressed otherwise if I move the cursor on some previous tokens and press the "Option" (Alt on Windows) key the cursor comes back the end of the line.

Example: I'm movi

[2017-01-19 18:00] KaneCohen commented on #18
@codeKonami traditionally, for multiple selection you'd use SHIFT and CTRL. Shift selects range of items and Ctrl would select multiple items one by one.

[2017-01-19 22:13] codeKonami commented on #18
I'm on MacOS so I don't remember how it works on Windows. But here is how I think it should work on Mac.

- SHIFT + CMD + Left Key should select all the tokens from the position of the cursor to the beginning
- SHIFT + CMD + Right Key should select all the tokens from the position of the cursor to the end of the tokens
- SHIFT + OPTION + Left Key should select the current cursor position selected

[2017-01-19 23:20] KaneCohen commented on #18
@codeKonami added "Ctrl+A/Cmd+A" shortcut to select all items in `0.6.4`. Fixed couple of multiselect related issue.

Option/Alt key is not supported for the multiple selection functionality since it has certain system related bindings on it. Besides, Ctrl and Shift are standard for that - for example layers in Photoshop use such shortcuts.

As for the listed custom shortcuts - those are way too s

[2017-01-19 23:20] #18 closed

[2017-02-09 20:08] nakulsolanki opened #19 "on deleting any token from the list, it always deletes the first one"
i populated the tokenfield using setItems.
it displays the list correctly, but whenever i try to delete any token from the list using a mouse, it always deletes the first item from the list.
If i use the backspace key , it deletes all items that were populated using SetItems.

[2017-02-09 20:09] KaneCohen commented on #19
@nakulsolanki what version of the library do you use?

[2017-02-09 20:25] KaneCohen commented on #19
@nakulsolanki OK, latest version `0.6.6` should fix the issue.

[2017-02-09 20:25] #19 closed

[2017-02-09 20:33] nakulsolanki commented on #19
Its fixed... Awesome...

[2017-04-08 19:25] codeKonami opened #21 "Delimiters on MacOs Safari doesn't work"
I've set some custom delimiters like this
[code]

It's working perfectly on Google Chrome but it doesn't work on Safari. The delimiters don't trigger the creation of a token

[2017-04-08 19:26] KaneCohen commented on #21
Thanks for the report. I'll see what's up with that.

[2017-04-08 19:38] KaneCohen commented on #21
@codeKonami what's your Safari and Mac OS version? Just tried on Sierra Safari 10.0. Works as expected.

[2017-04-09 10:04] codeKonami commented on #21
that's strange I'm on Mac OS Sierra 10.12.2 with Safari 10.0.2

[2017-04-09 10:06] KaneCohen commented on #21
Try last library version just in case (0.6.11)? I'll try updating safari to the latest version and see if I'll be able to reproduce the issue.

[2017-04-09 10:22] codeKonami commented on #21
Same problem with the 0.6.11

Let me know if I can do something to help you out.

[2017-04-09 10:26] KaneCohen commented on #21
@codeKonami btw. Did you set option `addItemsOnPaste` to true?

Example
[code]

[2017-04-09 10:32] codeKonami commented on #21
No I did not. I've tried with addItemsOnPaste: true, it is still not working but it's working by pasting (look the gif enclosed)

![delimiter-bug](https://cloud.githubusercontent.com/assets/1849998/24836611/8376770e-1d20-11e7-9a10-bd4166ddf426.gif)

[2017-04-09 10:34] KaneCohen commented on #21
Got you. I'll investigate it further.

[2017-04-09 11:06] KaneCohen commented on #21
@codeKonami updated library. `v0.6.12` fixes this issue.

[2017-04-09 11:06] #21 closed

[2017-06-04 14:38] aabanaag opened #22 "removedItem doesn't return item removed"
removedItem event doesn't return item removed like the documentation specifies.

[2017-06-04 21:13] KaneCohen commented on #22
I guess you mean `removedToken` event? It does appear that it's not returning removed item.

[2017-06-04 21:18] KaneCohen commented on #22
Should be fixed in latest version (`0.7.5)`.

[2017-06-04 21:18] #22 closed

[2017-06-04 21:20] aabanaag commented on #22
Oh. Just a question how append data to tokenField? Tried setItems but not
working

On 5 June 2017 at 5:18:36 AM, Kane Cohen (notifications@github.com) wrote:

[2017-06-04 21:22] KaneCohen commented on #22
`setItems` should be working if you provide correct data. Could you give an example of the data you add in `setItems()`?

[2017-06-04 21:33] aabanaag commented on #22
my code is like this
[code]

[2017-06-04 21:34] KaneCohen commented on #22
What's in `data` variable?

[2017-06-04 21:40] aabanaag commented on #22
[code]

[2017-06-04 21:44] KaneCohen commented on #22
Data seems to be correct. Tried on my local instance - works fine. Do you have any errors in console? Do you overwrite any of the item rendering functions?

[2017-06-04 21:49] aabanaag commented on #22
![image](https://cloud.githubusercontent.com/assets/2245822/26765645/c712e1aa-49b2-11e7-9bd7-0c1534a11caa.png)
I only get this

[2017-06-04 21:50] aabanaag commented on #22
should it be id not _id?

[2017-06-04 21:54] aabanaag commented on #22
its working now. A dumb mistake on my part tho. Thank you for being so helpful. cheers. 👍

[2017-06-04 21:54] KaneCohen commented on #22
Awesome. Have a good day.

[2017-06-18 05:08] alecrubin opened #23 "Delete item click event not firing on mobile"
The delete item on click event works on desktop, but not touch-enabled devices. Not really sure what the issue is.

[2017-06-18 08:46] KaneCohen commented on #23
Thanks, I'll take a look. What device/browser are you using?

[2017-06-18 09:09] KaneCohen commented on #23
Should be fixed. I've changed element that was wrapping item remove button to anchor `<a>` in order to improve event chatching by the browser. Should be more reliable now.

Make sure to upgrade to v0.7.6.

[2017-06-18 09:09] #23 closed

[2017-09-25 22:37] davidesigner opened #24 "Support jQuery ajax options"
Hi there,

thanks for your module!

I am looking to replace the [bootstrap-tokenfield](https://github.com/sliptree/bootstrap-tokenfield) module by yours but I need to add headers to my ajax request.

Here is my jQuery ajax function:
[code]
So, I need to use the `beforeSend` and maybe the `success` option to parse the returned json object. Have you a solution to do that?

Thanks!

[2017-09-28 11:15] KaneCohen commented on #24
I'll see how this could be accomplished - maybe would add an option to inject own XHR code.

[2017-10-13 19:17] KaneCohen commented on #24
@davidesigner took a bit of time, but latest version of tokenfield (`0.8.1`) supports XHR headers done via:
[code]

As for a data processing on success - you can use method `Tokenfield.remapData`.
What you do is overwrite that method on your tokenfield instance:

[code]

[2017-10-13 19:18] #24 closed

[2017-10-18 19:44] Gibbs opened #25 "Touch event issues on iOS"
Suggestions and token touch events don't seem to trigger on iOS.

Removing the `touchstart` listener resolves it but i'm not sure of the implications that might have elsewhere. https://github.com/KaneCohen/tokenfield/blob/master/lib/tokenfield.js#L443

[2017-10-18 19:46] KaneCohen commented on #25
Thanks. Will test this.

[2017-10-20 17:24] olimart opened #26 "params not sent when items array is empty"
Hi and thanks for the library.

I'm having an issue when the array of items is empty. It works fine when I add items and submit form. However when I edit and remove items it seems that no params is sent to the server, where I'm expecting to receive an empty array. Please advise.

I'm overriding the default `itemName` if this helps.

[2017-10-20 18:40] KaneCohen commented on #26
I'm assuming you submit form via normal HTTP request, not an AJAX request?

Your server is not receiving any data because there's no items in the tokenfield and therefore no corresponding HTML elements which would store the data.

Here's what an item HTML element looks like:
[code]

Not that it has an `<input>` element with `items[]` name which says to your form that you have certain data.

Thing

[2017-10-21 00:31] olimart commented on #26
Indeed

The hidden field with the same name and an empty value seems to do the trick. However, since I have 4-5 Tokenfield on my form it adds "useless" input elements. Will refactor later.

Thanks a lot for your help.

[2017-10-21 00:31] #26 closed

[2017-11-08 18:19] donaldtbd opened #27 "Possibility to post value as one string?"
Hello,

Im trying to replace an existing tokenfield with your implementation.
The problem is my backend is supporting only one string value per tokenfield because previosuly it just stored coma seperated values like "red, green, blue".
Can your tokenfield be configured to post its content as one value (may be JSON) and later use that string to repopulate the tokenfield?

For example tokenfield set

[2017-11-08 18:55] KaneCohen commented on #27
Unfortunately, right now there's no way to configure tokenfield to behave the way you want to.

You could add an event listener which would fill some input field you have with required data, something like that:

[code]

I'll consider adding an option to handle input the way you describe as a single string.

[2017-11-09 16:28] donaldtbd commented on #27
Thanks, Ill implement an adapter for now and keep my eyes open for the feature :) In general I think its very useful and also a good practice for a field to output the same format and structure as it expects as input.

[2017-11-15 10:56] Delphiki7 opened #28 ""maxSuggests" in documentation should be "maxSuggest" + scrolling question"
Hi,

First of all i have to mention its a great library and suits my needs almost exactly. Great job! :)

The only problematic part for me is that i have a really long list of items and i want the user to be able to see and choose from them all. First i tried changing the "maxSuggest" property and found a little typo there. It is refered to as "maxSuggests" in doc, but when trying out it didn't wo

[2017-11-15 12:34] KaneCohen commented on #28
I'll look into adding an option to allow scrollable suggestions. However in the meantime you could just change CSS where you'd set specific `max-height` to a suggestions list and set it to `overflow: auto`.

[2017-11-15 20:33] KaneCohen commented on #27
@donaldtbd Tokenfield v0.9.0 now supports an option where you can specify a single input field where tokens will be stored alongside normal array-type method.

To be specific, there are three options you need to specify (not necessary all of them):

[code]

First option, `singleInput` tells Tokenfield whether it should store data in an input. That field accepts either boolean (if set to true - the

[2017-11-15 20:33] #27 closed

[2017-11-15 20:42] KaneCohen commented on #28
@Delphiki7 Tokenfield v0.9.0 now supports an option where you can specify how many maximum numbers should be visible within the suggested list.

That options is a `maxSuggestWindow` by default is set to 10 and it works alongside option `maxSuggest`. When set to specific amount that is lower than `maxSuggest` it would turn suggestion box into a scrollable box.

You can check your updated example he

[2017-11-15 20:42] #28 closed

[2017-12-15 12:22] Delphiki7 opened #29 "Tokenfield not supported by internet explorer 11?"
Hello,

When using ie11 tokens are not shown and dropdown does not open on example page http://kanecohen.github.io/tokenfield/

Would it be possible to support ie11 aswell? This is the best tokenfield plugin available, but ie11 is still used a lot so not supporting it would be a pretty serious limitation.

[2017-12-15 12:52] KaneCohen commented on #29
Yeah, currently there are some JS code which IE11 doesn't like. I'll look into refactoring that to support IE11 in the next couple of days.

[2018-01-09 22:23] joekalda commented on #29
Also having the same problem. Any updates on the fix? :)

[2018-01-09 22:32] KaneCohen commented on #29
Will make a patch some time this week.

[2018-01-14 12:42] KaneCohen commented on #29
IE11 support added in version `0.9.1`.

[2018-01-14 12:42] #29 closed

[2018-04-08 13:18] Delphiki7 opened #30 "After choosing an option from the end of dropdown it is reset back to beginning"
Hi,

Here is an example of what i mean: https://jsfiddle.net/1erz7j0e/1/

To reproduce:
1) Click on input field
2) Scroll to the end
3) Select option "25"

Actual result:
Dropdown is reset back to beginning of dropdown with options 1,2,3,4,5 visible.

Expected result:
Dropdown remains where it was with options 20,21,22,23,24 visible.

Is there an option to achieve the desired result? Or if not may

[2018-04-08 13:41] KaneCohen commented on #30
Hi, thanks for the report. Unfortunately right now there's no workaround - I'll update the code which should prevent scroll reset.

[2018-04-08 15:44] KaneCohen commented on #30
I've updated library to version 0.9.2 where this issue should be fixed.

[2018-04-08 15:44] #30 closed

[2018-04-08 15:59] Delphiki7 commented on #30
Wow, that was fast, thanks! :)

[2018-04-18 16:15] jgasiorowski opened #31 "Exception on filtering suggestions"
https://github.com/KaneCohen/tokenfield/blob/3ec24c43691685308e5db2482e96136077d9e87b/lib/tokenfield.js#L1358
In referenced code I get `Failed to execute 'removeChild' on 'Node': parameter 1 is not of type 'Node'.`.
It happens when after typing a letter I am about to filter out multiple items - `for` loop is removing items based on old indexes of collection which is changing in each iteration - in

[2018-04-18 16:41] KaneCohen commented on #31
Fixed in `v0.9.3`.

When running removeChild it would remove first overflow child, then next one, however overflow items would keep decreasing and at some point index which accesses them would overflow.

[2018-04-18 16:41] #31 closed

[2018-04-18 16:51] KaneCohen commented on #31
Actually, get version `v0.9.4` it has additional bugfix for a visual issue.

[2018-04-18 17:04] jgasiorowski commented on #31
Thanks I will check it tomorrow. BTW is there any posibility that you could provide not minified version of your library? I just want to use it same way as `.min.js` but it is easier for debugging. Current not minified versions force me to use module bundler

[2018-04-18 17:06] KaneCohen commented on #31
Don't see why not. You can already find the non-minified version of the library in `/lib` directory, however it's written in a more modern ECMAScript, which might not work on older browsers.

[2018-04-18 17:15] KaneCohen commented on #31
`tokenfield.web.js` has been added in `v0.9.5` or available in `dist/` on master branch.

[2018-04-18 19:44] jgasiorowski commented on #31
Thank you once again. Fastest updates I've ever seen ;) I confirm that issue is fixed and `.web.js` version works like a charm!

[2018-04-27 09:35] eddturtle opened #32 "IE11 "Unable to get property 'readyState' of undefined or null reference""
Hi, we're having some issues only on IE (tested with version 11). We're using it to make ajax calls to fetch the data.

Think it's related to this section of the code:
https://github.com/KaneCohen/tokenfield/blob/master/dist/tokenfield.js#L487

The error looks like this: https://www.dropbox.com/s/e885m8qdw5knnr5/send-email-from-doc-script-issue.jpg?dl=0

Do you have any ideas of how to help us, or

[2018-04-27 10:52] KaneCohen commented on #32
Not really any easy solution - you could replace "fetchData" method of the class with your custom version.

I'll check IE documentation to see what is used to handle AJAX requests.

[2018-04-27 13:34] eddturtle commented on #32
Should something like this work in IE11 (code below)? I'm trying to work out where the issue lies and happy to make a pull request if this is suppose to work and isn't but it might be something we're doing - or maybe remote data isn't supported in IE11?

[code]
Do you think an extra 'is not null' check would be worth doing on xhr before reading the readyState - might fix it?

[2018-04-27 13:41] KaneCohen commented on #32
@eddturtle I've pushed `v0.9.6` which should fix this issue.

Not quite clear on why it happens (I guess some IE quirk), but first callback for ajax request is always ends up having xhr set to null. I've added a null check in there, so error won't be thrown.

[2018-04-27 13:41] #32 closed

[2018-04-28 15:35] anthonyBertrant opened #33 "Space can't be use"
Hi, first: Great work !! Your module is saving me a looooot of time !!! But, maybe it's only me, when I type a token, it's reconize only when I press tab or enter key, not when I press space. I think, if it's not a probleme, it will be interesting to implement this new possibility.

Sorry for my bad english, I'm french (I surrender..)

[2018-04-28 16:15] KaneCohen commented on #33
Hi, Anthony. Glad this library is of use.

By default `space` is not used for tokenization - however it is easy to make it work. All you need to do is set space key code to be considered as a delimiter. Here's an en ample:

[code]

[2018-04-28 16:15] #33 closed

[2018-04-28 16:34] KaneCohen commented on #33
Updated example above - "space" key should be `32`.

[2018-04-28 18:17] anthonyBertrant commented on #33
Okay ! I found an another solution too. In your docs you talks about a delimiter param. I just add " " and it’s works ! Thanks for your help, and good job for your module

[2018-05-07 11:02] Prestaworks opened #34 "Can't change matching parameters"
Would be great to have a way to change if the matching is done on a few different settings, like say beginning and end of string and not just "inside" string as it is now.

[2018-05-07 12:53] KaneCohen commented on #34
@Prestaworks pushed `v0.9.8`. It contains following matching options:

| Name | Type | Default | Description |
| ---- | ---- | ------- | ----------- |
matchRegex | string | `'{value}'` | Regex string that would be used for matching - when regex is compiled {value} would be replaced with escaped user input.
matchFlags | string | `'i'` | Regex flags used in matching. Default is i - case insensitive

[2018-05-07 12:53] #34 closed

[2018-07-11 11:57] rifton007 opened #35 "Use Tokenfield with textarea"
Hi and thank you for your repository.

I would like to use Tokenfild with textarea, is it possible ?
I defined `inputType: 'textarea'` in the options, but it didn't work.
Thank you for your help.

[2018-07-11 12:21] KaneCohen commented on #35
Unfortunately not. `inputType` - is the type that is being set for `<input>` element where you type when tokenfield is focused. It accepts values such as `text`, `email`, `url` and so on.

Could you give an example of where `textarea` could be used as an input? I could try looking into adding it if it's something common.

[2018-07-11 12:56] rifton007 commented on #35
Hi @KaneCohen,
Yes, I want using a textarea to put many email addresses.

[2018-07-11 13:01] KaneCohen commented on #35
Hi,
Not quite sure why textarea is necessary there. Tokenfield would grow in height automatically if you add multiple items, so if it's the matter of size, it shouldn't really matter.

[2018-07-11 13:38] rifton007 commented on #35
I know, technically it's working.
But in some case, this isn't esthetics to use a simple input text.
![image](https://user-images.githubusercontent.com/2601347/42574350-89c73c76-851e-11e8-8f74-02bc4c2398b2.png)

[2018-07-11 14:02] KaneCohen commented on #35
I see what you mean.
I would recommend changing `.tokenfield` element style by adding `min-height`. Don't think `textarea` would have been helpful here.

[2018-07-11 14:17] rifton007 commented on #35
I have tried with a input text and textarea, but it doesn't work
css
[code]

[2018-07-11 14:31] KaneCohen commented on #35
`min-height: 100%` wouldn't work here unless you use flexbox i think. You might want to add specific height: something like `300px`.

Here's a really rough example of how flexbox could help: <http://jsfiddle.net/0auoLhpb/>

[2018-07-11 19:59] rifton007 commented on #35
It's okay, thank you @KaneCohen

[2018-07-11 19:59] #35 closed

[2018-08-17 20:48] heldchen opened #36 "re-order tags?"
the module looks great! any plans to add drag-n-drop reordering?

[2018-08-17 20:58] KaneCohen commented on #36
Hi. It's in the "nice to have" list of features, however I'm not sure when and how it would be added.

I would prefer not to implement sorting/dragging within tokenfield in order to keep size of the library as small as possible, so it would have to somehow rely on external library.

For now I can only recommend using something like <https://github.com/RubaXa/Sortable> and implementing sorting your

[2018-08-17 21:10] heldchen commented on #36
thanks for the superfast reply, appreciated!

while an external library would indeed visually order the tags, upon form submission the order is actually split between `items[]` and `items_new[]`. is there an option to use `name="items[]"` for both existing and new keys? the existing `singleInput` option does not seem to do that...

[2018-08-17 21:13] KaneCohen commented on #36
In the options set `newItemName` to `items` if you want existing and new items to be available within the same input in the backend.

[2018-08-17 21:15] heldchen commented on #36
ah perfect, thanks again!

[2018-08-17 21:15] #36 closed

[2018-08-17 22:08] KaneCohen commented on #36
@heldchen I've pushed a small update which should make life a bit easier for dealing with tokens order.

First: `items` and `items_new` now would be keeping the same order as it appears in the tokenfield.

For example: if you have tokes like this where numbers are existing tokens and string is a new token:

```1, 2, "Foo", 3```

They would be send to the backend in the following format:
[code]

Th

[2018-08-17 23:29] heldchen commented on #36
that is really helpful, thanks!

[2018-10-06 11:53] ErnestBrandi opened #37 "Input width set to 0px"
Hi, I noticed that because my form is in a modal (hidden on page load then), the line
`var b = this._getBounds();`
gives wrong values. I had to change the way the modal appears (left: -9999; instead of display: none; for instance). Just letting you know :)

[2018-10-06 12:47] KaneCohen commented on #37
Is there any specific issue with the field when you show the modal window?

[2018-10-06 13:06] KaneCohen commented on #37
OK. I managed to replicate same issue. I'll see what could be done about that.

[2018-10-13 13:17] ErnestBrandi opened #38 "Empty a token field"
Hi,

I'd just appreciate a public function that allows me to empty my keywords field.

Thanks

[2018-10-13 13:27] ErnestBrandi commented on #38
Was looking for that. Do you have a more precise doc somewhere ?

[2018-10-13 13:29] KaneCohen commented on #38
No, I will update docs for extra things that accumulated.

[2018-10-13 13:29] #38 closed

[2018-10-13 13:29] ErnestBrandi commented on #38
Thanks :)

[2018-10-14 22:18] ErnestBrandi commented on #38
Same, what is the best way to add a token through code. Tried `addItems("foo")` but it adds an empty token (with only the cross to close it).

[2018-10-15 07:05] ErnestBrandi commented on #38
Seems to be an issue with `renderSetItemLabel()` and the fact that items added that way (and stored in the `setItems` array) do not have a `name ` attribute.

[2018-10-15 07:07] KaneCohen commented on #38
addItems("foo") - expect an object in the format of `{id: 1, name: 'Red'}` as described in the docs. It can't be a string.

Which is related to the `renderSetItemLabel()`.

[2018-10-15 07:30] KaneCohen commented on #38
If you just want to add new token without an ID, you could use non-public method `_newItem('foo')`,.

[2018-10-15 08:51] ErnestBrandi commented on #38
Uh, the doc was clear about format indeed... Tried `_newItem('foo')` before, but it doesn't work. Plus, with `addItems({"id": id, "name": "foo"})` the value of hidden input `.item-input` is equal to the id and not the name. This is confusing as this not the case for a token entered through input (who has no id). Then it is hard to know if we work with an id or with new data.

[2018-10-15 08:53] ErnestBrandi commented on #38
My bad I just noticed new elements was stored in a separate array.

[2018-10-15 20:16] KaneCohen commented on #38
In `v1.0.1` you can do `addItems({isNew: true, name: 'Hello'})` which would add new token instead of using internal `_newItem()`.

[2018-10-25 11:52] ErnestBrandi opened #39 "Removing all keywords => no more placeholder"
Hi, me again.
Just noticed that when you remove the last token from the input clicking on the cross, the input's placeholder does not appear again (when it is the case using backspace).
Cheers

[2018-10-25 12:35] KaneCohen commented on #39
Fixed in `v1.1.0`.

[2018-10-25 12:35] #39 closed

[2019-02-01 18:48] rickmacgillis opened #40 "Width should not be set."
Issue #37 causes the textbox to be arbitrarily set to a large width value, and that often breaks the formatting on the page without a proper workaround. To make sure it functions correctly in the Tokenfield demo, then CSS should be used to define the width, and thus, allowing people to override it as needed.

Using JS to set the width makes it so we have to fight through a race condition and hope

[2019-02-01 18:56] rickmacgillis commented on #40
Oy... I just realized that I can set the width on `.tokenfield.tokenfield-mode-tokens` and it works just fine. Closing this out.

[2019-02-01 18:56] #40 closed

[2019-02-21 17:04] ErnestBrandi opened #41 "SetItem option behaviour"
Hi,
I noticed a couple of things, I'm not sure if it's desired or not.
First when you fill up your tokenfield on creation with setItem option; if there is only one token the Placeholder is displayed, but disappear with two or more (it does not seem to depend on the size of the placeholder or the size of the field).
Secondly, and this is more an issue, data added that way does not prevent to enter

[2019-02-21 17:34] KaneCohen commented on #41
@ErnestBrandi Issue with placeholder should be fixed in 1.2.1.
However I can't reproduce the second issue.

Could you share the code sample where you create the tokenfield instance and also a sample of remote data.

[2019-02-21 18:16] ErnestBrandi commented on #41
I found the reason why. That's because you are comparing setItems and remote data ids (and not text content itself). This is not ideal, for example in my case I have on one side user specific tokens that I enter through the setItems option, and on the other tokens entered by every users that are gathered through the remote url process. The ids are therefore not correlated !

[2019-02-21 19:10] KaneCohen commented on #41
You could try setting following option:

[code]

[2019-02-22 08:35] ErnestBrandi commented on #41
That solution suits me very well.

[2019-02-22 08:36] #41 closed

[2019-02-28 20:44] rickmacgillis opened #43 "Change possible items for a field"
I'm trying to change the suggestable items after they've been set. For example, we have a categories list that sets certain skills exclusive to that category. When someone chooses to a different category after we've already set the skills list on the token field, we need to change the suggestable items to match the new category.

I can check if the field is already set to an instance of a Tokenfie

[2019-02-28 22:17] KaneCohen commented on #43
Hi. If I understand correctly - when you create a Tokenfield instance you set an option `items`. Which you want to change later based on some event in the app?

[2019-02-28 22:17] rickmacgillis commented on #43
@KaneCohen Correct.

[2019-02-28 22:20] KaneCohen commented on #43
Currently you could try doing following:

[code]

I'll have to add some method to add that in a more reasonable way later.

[2019-02-28 22:23] rickmacgillis commented on #43
Thank you. When I work with it again I'll try it out. It'll probably be a couple weeks before I have a chance, though.

[2019-02-28 22:24] KaneCohen commented on #43
I'll add some method by that time.

[2019-02-28 22:24] rickmacgillis commented on #43
@KaneCohen - Even better! Thank you.

[2019-03-10 18:07] KaneCohen commented on #43
In `v.1.3.0` you can now run `setSuggestedItems(items)` to inject new list of possible items for suggestion.

[2019-03-10 18:07] #43 closed

[2019-03-15 02:09] joshm1204 opened #44 "Install and Setup"
It would be nice to get install & setup instructions added to the readme.  It was be nice to know which files from the repo I need to add to my asset pipeline.

[2019-08-11 16:38] mguidetti commented on #27
Thanks for adding this feature! I believe its documentation is missing from the main readme though, I had to come to this issue to find it.

[2019-11-22 22:40] ipaidimarla opened #46 "nested objects for itemData"
hi,
How do I map my nested object to itemData string?  for example my 'items' are
items : [ { id : 101, cdrVal : { cdr : "tut",  id:2001, path:'/'} }, { id : 102, cdrVal : { cdr : "pmp",  id:3001, path:'deafult'}, { id : 105, cdrVal : { cdr : "mou",  id:3001, path:'del'} }}

Now, I have to map my suggestions to  cdrVal.cdr or cdrVal['cdr']

[2019-11-22 23:46] #46 closed

[2019-11-22 23:47] ipaidimarla commented on #46
nevermind, my object structure is wrong

[2020-06-11 12:04] RDiazR2 opened #47 "Question about newItems feature"
Hello @KaneCohen

Thanks a lot for your tokenfield component. It's very valuable.

I have a question regarding newItems function. Can I check the newItem value before being added to the component? I would like to check with a regular expression to accept or reject the new values. Do you have any suggestion how can I implement this?

Thanks a lot

[2020-06-11 12:23] KaneCohen commented on #47
@RDiazR2 hi. Currently there's no built-in function to validate new items. I'll see if I can add it within next couple of days.

[2020-06-14 09:37] KaneCohen commented on #47
@RDiazR2 added optional parameter: `validateNewItem` which can be specified along other options (check readme). If returns `true` - new item is added. If `falsy` return - item not added.

[2020-06-14 09:37] #47 closed

[2020-06-14 20:06] RDiazR2 commented on #47
Thank a lot, @KaneCohen !!!

[2020-09-03 03:39] geraldckj commented on #44
To add on to this, which files do I need to add? I'm not too sure, as I'm rather junior with Javascript. Thanks

[2020-09-03 09:11] KaneCohen commented on #44
If you're using node.js to compile your JS assets - then all you need to do is just use

[code]

If you just want to use library in a browser without any compiling you can include file `tokenfield/dist/tokenfield.min.js` on your webpage.

[2020-09-24 08:42] felix9607 opened #49 "Bug Report"
I get this weird behavior, mainly focused for Vue Projects. I tried different browsers etc, nothing helped.
I just use the very basics funtionallities.

<img width="285" alt="image" src="https://user-images.githubusercontent.com/31954552/94122201-90e63200-fe52-11ea-9ffd-4aea30ba4fd1.png">

https://codesandbox.io/s/ui5-webcomponents-forked-rww64?fontsize=14&hidenavigation=1&theme=dark

[2020-09-24 15:41] KaneCohen commented on #49
It appears that you didn't load the styling.
Here's forked sandbox code with styles added: https://codesandbox.io/s/ui5-webcomponents-forked-2byrs?file=/src/index.js

Keep in mind - by default it's expected to run on top of Bootstrap. If you are implementing it without bootstrap - you can check
scss files here and use them in your project: https://github.com/KaneCohen/tokenfield/tree/master/lib/sc

[2020-09-24 15:44] felix9607 commented on #49
Thanks, that was my fault!

[2020-09-24 15:44] #49 closed

[2021-02-14 16:01] cal-zone opened #50 "Tokenfield does not respect existing field value"
When a form is returned by the server for render, the input element where I need my data has existing values already in place.

Imagine you are in the edit page of an article and there is a field for the article name, and a field where you add tags. You write a draft of your article, add some tags, and save it for later. When you come back, you load your article edit page again and the data entere

[2021-02-14 16:07] cal-zone opened #51 "Feature request: Grouping of tags"
I would love the ability to create groups of tags (like optgroups in a select) or hierarchical tags.

Such functionality should enable segregating all available tags according to the group they're assigned to and styling each group differently (use different colors). Creating group headers and dividers would be ideal.

Additionally, when the autocomplete dropdown appears, regardless, of this group

[2021-02-14 16:12] KaneCohen commented on #50
Hello.

This is an expected behavior - I imagine in most cases input field with IDs doesn't have additional data required for the Tokenfield to operate (such as `name` property). And doing a XHR request to fetch additional data doesn't seem quite right.

I'll consider adding code which will look for related `data-` attributes in provided element as a possible source of items.

[2021-02-14 16:22] KaneCohen commented on #51
Regarding optgroups - highly unlikely that it would be added.

Not entirely sure what you mean by using inline-block for suggested options - if necessary you could always apply your custom styles for desired result.

[2021-02-14 16:30] cal-zone commented on #51
I mean to display the available options in a 2-D layout… grid, table. What I did was make my li element display:inline-block because otherwise, when you have a lot of tags, it is too much to scroll through… at the same time, a user who does not know which tags are available, will not know what to type to search and could waste a lot of time trying different words hoping to find the exact tag they

[2021-02-14 16:34] KaneCohen commented on #51
OK, I understand, however by default display of suggested items will remain as it is being rather more traditional.

Any other display format would simply require custom CSS which is why Tokenfield has as few styles as possible to not obstruct customization of the look.

[2021-02-14 16:34] #51 closed

[2021-04-13 19:58] jonnsn opened #52 "Remote with type POST does not pass parameters correct"
when using remote.type = POST the params are send as the string "{object:object}".
I can make it work by changing
`xhr.send(params);`
to
`xhr.send(paramsString);`
in ajax.js#35
AND setting
`headers: {
    'Content-Type': 'application/x-www-form-urlencoded'
}`
As this requires configuration on the "user" side I do not consider this worth a patch, but would like to file the issue anyhow. Will have t

[2021-04-28 16:36] jonnsn opened #53 "newItems have no labels in combination with itemData-Option"
When using
`newItems: true`
in Combination with
`itemData: 'someProperty'`
any new Item has no label after adding it.
Demo: https://jsfiddle.net/tadw3uky/6/

[2021-04-29 09:39] jonnsn opened #54 "html tags in itemData prevents selection of token"
When using html Tags inside the property defined as itemData the item is not selectable.
`var tf = new Tokenfield({
  el: document.querySelector('.my-input'),
  itemData: 'data',
  items: [{id: 1, name: 'foo', data: 'foo <b>Something important</b>'}, {id: 2, name: 'bar', data: 'bar <b>Something important</b>'}]
});`
If you click on "Something important" nothing happens. Clicking on foo or bar work

[2021-04-29 18:54] KaneCohen commented on #53
Setting custom `itemData` requires change in what is used to display label: `itemLabel`.

So, if you set `itemData: 'someProperty'`, you also need to specify `itemLabel: 'someProperty'`.

P.S.: I'm working on new version of the tokenfield, so support for current version would be somewhat delayed.

[2021-10-20 08:44] RDiazR2 opened #55 "Issue when creating multiple items on paste from clipboard"
If I allow to paste new items. i.e.:
  addItemsOnPaste: true,
  delimiters: [","]

First, I paste: red, orange, yellow
![image](https://user-images.githubusercontent.com/6143434/138058178-f70bc96b-7447-44d9-8602-6b5bbf9f1cf9.png)

After that I add a new Item from autocomplete.
![image](https://user-images.githubusercontent.com/6143434/138058339-1c9a6936-3b05-4aa8-b9e9-8aabe0a7846e.png)

If I try t

[2021-11-23 22:43] Kopyov opened #56 "Token input has wrong width in flexbox container"
If tokenfield is used inside flex container, input field incorrectly calculates the width and resolves when input is clicked or window is resized - [link to video](https://gyazo.com/14462bd4572c9f0aedb6ca00430e038d).

The difference is around 3-4px, as a result input field is wider than container and it's displayed on the second line